<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="wooUrl" value="https://www.regsulmodas.com.br/" />
    <add key="restUrl" value="wp-json/wc/v3/" />
    <add key="wooKey" value="ck_104198f4fdd8fc00af376020c5f7696e480d4bc4" />
    <add key="wooSecret" value="cs_1225b26f4272ca7120ab15916152a043b30f9b6f" />
  </appSettings>
</configuration>